
.dark-mode .table {
    color: #dee2e6;
    background-color: transparent;
}

.dark-mode .table th,
.dark-mode .table td {
    background-color: #343a40;
    border-color: #454d55;
    color:#ffffff;
}

.dark-mode .table thead th {
    background-color: #3c444d;
    color: #ffffff;
}

.dark-mode .table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.dark-mode .fc .fc-daygrid-day-number{
    color: #ffffff; 
    font-weight: 600;
}

.dark-mode .fc-day-sun .fc-daygrid-day-number{
    color: #dc3545; 
    font-weight: bold;
}

.dark-mode .fc .fc-daygrid-day {
    border: 1px solid #ffffff;
}





/* full calendar */

.fc .fc-day-today .fc-daygrid-day-number {
    color: #3bdc35; 
    font-weight: bold;
}

.fc .fc-daygrid-day-number {
    color: #121213; 
    font-weight: 600;
}


.fc-day-sun .fc-daygrid-day-number {
    color: #dc3545;
}


.fc .fc-daygrid-day {
    border: 1px solid #020202;
}





