/* layouts */

 @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mochiy+Pop+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

 :root {
  /* Global theme colors */
  --green: #00752b;
  --green-600: #78be94;
  --black: #000000;
  --white: #ffffff;
  --bg: #e9e9e9;
  --muted: #6b7280;

  /* Global layout & UI */
  --card-radius: 12px;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  --max-width: 1200px;

  /* Topbar / Navbar variables */
  --topbar-bg: #ebebeb;
  --topbar-border: rgba(0, 0, 0, 0.06);

  /* Glass effect (optional UI use) */
  --glass: rgba(255, 255, 255, 0.6);
}

/* ===============================
   GLOBAL DARK MODE OVERRIDES
   =============================== */
body.dark {
  --bg: #081226;
  --topbar-bg: rgba(6, 10, 23, 0.75);
  --muted: #ffffff;
}




/* background color */


/* sidebar background */
.main-sidebar.sidebar-dark-custom {
    background-color: var(--sidebar-bg);
}

/* brand link */
.sidebar-dark-custom .brand-link {
    background-color: var(--brand-link);
}


/* sidebar navlinks */
.sidebar-dark-custom .nav-sidebar > .nav-item > .nav-link {
    color: #c2c7d0;
}

/* active navlink */
.sidebar-dark-custom .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #6366f1;
    color: #fff;
}

/* search  */
.sidebar-dark-custom #search {
    background-color: #020617;
    border: 1px solid #1e293b;
    color: #e5e7eb;
}






/* tables */
.dark-mode .table {
    color: #dee2e6;
    background-color: transparent;
}

.dark-mode .table th,
.dark-mode .table td {
    background-color: #343a40;
    border-color: #454d55;
    color:#ffffff;
}

.dark-mode .table thead th {
    background-color: #3c444d;
    color: #ffffff;
}

.dark-mode .table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.dark-mode .fc .fc-daygrid-day-number{
    color: #ffffff; 
    font-weight: 600;
}

.dark-mode .fc-day-sun .fc-daygrid-day-number{
    color: #dc3545; 
    font-weight: bold;
}

.dark-mode .fc .fc-daygrid-day {
    border: 1px solid #ffffff;
}





/* full calendar */

.fc .fc-day-today .fc-daygrid-day-number {
    color: #3bdc35; 
    font-weight: bold;
}

.fc .fc-daygrid-day-number {
    color: #121213; 
    font-weight: 600;
}


.fc-day-sun .fc-daygrid-day-number {
    color: #dc3545;
}


.fc .fc-daygrid-day {
    border: 1px solid #020202;
}








